<a href="https://colab.research.google.com/github/mateoesteva/Proyectos-Mateo/blob/main/RetoEmpleados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [169]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
import numpy as np
from sklearn.impute import SimpleImputer

In [170]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [171]:
EmpleadosAttrition = pd.read_csv('/content/drive/MyDrive/empleadosRETO.csv')
EmpleadosAttrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       400 non-null    int64
 1   BusinessTravel            396 non-null    object
 2   Department                400 non-null    object
 3   DistanceFromHome          400 non-null    object
 4   Education                 400 non-null    int64
 5   EducationField            400 non-null    object
 6   EmployeeCount             400 non-null    int64
 7   EmployeeNumber            400 non-null    int64
 8   EnvironmentSatisfaction   400 non-null    int64
 9   Gender                    400 non-null    object
 10  JobInvolvement            400 non-null    int64
 11  JobLevel                  400 non-null    int64
 12  JobRole                   400 non-null    object
 13  JobSatisfaction           400 non-null    int64
 14  MaritalStatus             395 non-null    object
 15  MonthlyIncome             400 non-null    int64
 16  NumCompaniesWorked        400 non-null    int64
 17  HiringDate                400 non-null    object
 18  Over18                    400 non-null    object
 19  OverTime                  400 non-null    object
 20  PercentSalaryHike         400 non-null    int64
 21  PerformanceRating         400 non-null    int64
 22  RelationshipSatisfaction  400 non-null    int64
 23  StandardHours             400 non-null    int64
 24  TotalWorkingYears         400 non-null    int64
 25  TrainingTimesLastYear     400 non-null    int64
 26  WorkLifeBalance           400 non-null    int64
 27  YearsInCurrentRole        400 non-null    int64
 28  YearsSinceLastPromotion   400 non-null    int64
 29  Attrition                 400 non-null    object
dtypes: int64(19), object(11)
memory usage: 93.9+ KB

In [172]:
# EmpleadosAttrition = pd.read_csv('empleadosRETO.csv')

# EmpleadosAttrition.info()

In [173]:
EmpleadosAttrition = EmpleadosAttrition.drop(['EmployeeCount','EmployeeNumber','Over18','StandardHours'], axis =1)

Analizando la información proporcionada, detectaste que no se cuenta con los años que el empelado lleva en la compañía y parece ser un buen dato. Dicha cantidad se puede calcular con la fecha de contratación ‘HiringDate’:




*   a.	Crea una columna llamada Year y obtén el año de contratación del empleado a partir de su fecha ‘HiringDate’. No se te olvide que debe ser un entero.
*   b.	Crea una columna llamada YearsAtCompany que contenga los años que el empleado lleva en la compañía hasta el año 2018. Para su cálculo, usa la variable Year que acabas de crear.

In [174]:
# Convert 'HiringDate' to datetime objects, handling errors
EmpleadosAttrition['Year'] = pd.to_datetime(EmpleadosAttrition['HiringDate'], errors='coerce').dt.year.astype('Int64')
EmpleadosAttrition['YearsAtCompany'] = 2018 - EmpleadosAttrition['Year']
# EmpleadosAttrition['YearsAtCompany'].max()

La DistanceFromHome está dada en kilómetros, pero tiene las letras “km” al final y así no puede ser entera:


*   Renombra la variable DistanceFromHome a DistanceFromHome_km.
*   Crea una nueva variable DistanceFromHome que sea entera, es decir, solo con números.

In [175]:
EmpleadosAttrition = EmpleadosAttrition.rename(columns={'DistanceFromHome': 'DistanceFromHome_km'})
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.split(' ').str[0].astype(int)
# EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str[0].astype(int)
EmpleadosAttrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       400 non-null    int64
 1   BusinessTravel            396 non-null    object
 2   Department                400 non-null    object
 3   DistanceFromHome_km       400 non-null    object
 4   Education                 400 non-null    int64
 5   EducationField            400 non-null    object
 6   EnvironmentSatisfaction   400 non-null    int64
 7   Gender                    400 non-null    object
 8   JobInvolvement            400 non-null    int64
 9   JobLevel                  400 non-null    int64
 10  JobRole                   400 non-null    object
 11  JobSatisfaction           400 non-null    int64
 12  MaritalStatus             395 non-null    object
 13  MonthlyIncome             400 non-null    int64
 14  NumCompaniesWorked        400 non-null    int64
 15  HiringDate                400 non-null    object
 16  OverTime                  400 non-null    object
 17  PercentSalaryHike         400 non-null    int64
 18  PerformanceRating         400 non-null    int64
 19  RelationshipSatisfaction  400 non-null    int64
 20  TotalWorkingYears         400 non-null    int64
 21  TrainingTimesLastYear     400 non-null    int64
 22  WorkLifeBalance           400 non-null    int64
 23  YearsInCurrentRole        400 non-null    int64
 24  YearsSinceLastPromotion   400 non-null    int64
 25  Attrition                 400 non-null    object
 26  Year                      399 non-null    Int64
 27  YearsAtCompany            399 non-null    Int64
 28  DistanceFromHome          400 non-null    int64
dtypes: Int64(2), int64(17), object(10)
memory usage: 91.5+ KB

Borra las columnas Year, HiringDate y DistanceFromHome_km debido a que ya no son útiles.

In [176]:
EmpleadosAttrition = EmpleadosAttrition.drop(['Year','HiringDate','DistanceFromHome_km'], axis =1)

Aprovechando los ajustes que se están haciendo, la empresa desea saber si todos los departamentos tienen un ingreso promedio similar. Genera una nuevo frame llamado SueldoPromedioDepto que contenga el MonthlyIncome promedio por departamento de los empleados y colócalo en una variable llamada SueldoPromedio. Esta tabla solo es informativa, no la vas a utilizar en el set de datos que estás construyendo.

In [177]:
SueldoPromedio = EmpleadosAttrition['MonthlyIncome'].mean()
print(SueldoPromedio)

6910.525

La variable MonthlyIncome tiene un valor numérico muy grande comparada con las otras variables. Escala dicha variable para que tenga un valor entre 0 y 1.

In [178]:
EmpleadosAttrition['MonthlyIncome'] = MinMaxScaler().fit_transform(EmpleadosAttrition[['MonthlyIncome']])
EmpleadosAttrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       400 non-null    int64
 1   BusinessTravel            396 non-null    object
 2   Department                400 non-null    object
 3   Education                 400 non-null    int64
 4   EducationField            400 non-null    object
 5   EnvironmentSatisfaction   400 non-null    int64
 6   Gender                    400 non-null    object
 7   JobInvolvement            400 non-null    int64
 8   JobLevel                  400 non-null    int64
 9   JobRole                   400 non-null    object
 10  JobSatisfaction           400 non-null    int64
 11  MaritalStatus             395 non-null    object
 12  MonthlyIncome             400 non-null    float64
 13  NumCompaniesWorked        400 non-null    int64
 14  OverTime                  400 non-null    object
 15  PercentSalaryHike         400 non-null    int64
 16  PerformanceRating         400 non-null    int64
 17  RelationshipSatisfaction  400 non-null    int64
 18  TotalWorkingYears         400 non-null    int64
 19  TrainingTimesLastYear     400 non-null    int64
 20  WorkLifeBalance           400 non-null    int64
 21  YearsInCurrentRole        400 non-null    int64
 22  YearsSinceLastPromotion   400 non-null    int64
 23  Attrition                 400 non-null    object
 24  YearsAtCompany            399 non-null    Int64
 25  DistanceFromHome          400 non-null    int64
dtypes: Int64(1), float64(1), int64(16), object(8)
memory usage: 81.8+ KB

Todo parece indicar que las variables categóricas que quedan sí son importantes para obtener la variable de salida. Convierte todas las variables categóricas que quedan a numéricas: a.	BusinessTravel
b.	Department
c.	EducationField
d.	Gender
e.	JobRole
f.	MaritalStatus
g.	Attrition

In [179]:
cols = ['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Attrition']
for col in cols:
    EmpleadosAttrition[col] = EmpleadosAttrition[col].astype('category').cat.codes
# EmpleadosAttrition = EmpleadosAttrition[['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Attrition']].astype('category')
# EmpleadosAttrition = EmpleadosAttrition['BusinessTravel'].astype('category').cat.codes

Ahora debes hacer la evaluación de las variables para quedarte con las mejores. Calcula la correlación lineal de cada una de las variables con respecto al Attrition.

Selecciona solo aquellas variables que tengan una correlación mayor o igual a 0.1, dejándolas en otro frame llamado EmpleadosAttritionFinal. No olvides mantener la variable de salida Attrition; esto es equivalente a borrar las que no cumplen con el límite.

In [180]:
EmpleadosAttrition = EmpleadosAttrition.drop(['OverTime'], axis=1)

In [181]:
corr = EmpleadosAttrition.corr()['Attrition'].abs().sort_values(ascending=False)

In [182]:
corr1 = corr[corr >= 0.1]
corr1

Attrition                  1.000000
JobLevel                   0.214266
TotalWorkingYears          0.213329
Age                        0.212121
YearsInCurrentRole         0.203918
MonthlyIncome              0.194936
MaritalStatus              0.180404
YearsAtCompany             0.176287
JobInvolvement             0.166785
JobSatisfaction            0.164957
EnvironmentSatisfaction    0.124327
Name: Attrition, dtype: float64

Selecciona solo aquellas variables que tengan una correlación mayor o igual a 0.1, dejándolas en otro frame llamado EmpleadosAttritionFinal. No olvides mantener la variable de salida Attrition; esto es equivalente a borrar las que no cumplen con el límite.

In [189]:
EmpleadosAttritionFinal = EmpleadosAttrition[corr1.index]
EmpleadosAttritionFinal.fillna(0)
# EmpleadosAttritionFinal.info()

,Attrition,JobLevel,TotalWorkingYears,Age,YearsInCurrentRole,MonthlyIncome,MaritalStatus,YearsAtCompany,JobInvolvement,JobSatisfaction,EnvironmentSatisfaction
0,0,4,32,50,4,0.864269,0,5,3,4,4
1,0,2,7,36,2,0.207340,0,3,3,2,2
2,1,1,1,21,0,0.088062,2,1,3,2,2
3,0,3,18,52,6,0.497574,2,8,3,2,2
4,1,3,15,33,6,0.664470,1,7,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...
395,1,1,8,33,4,0.075248,1,5,3,4,3
396,1,2,4,31,2,0.187197,1,2,1,3,2
397,0,3,10,37,8,0.589327,0,10,3,4,2
398,0,1,7,38,0,0.121124,1,0,3,3,4
399,0,1,8,33,7,0.092122,1,8,3,2,4



Crea una nueva variable llamada EmpleadosAttritionPCA formada por los componentes principales del frame EmpleadosAttritionFinal. Recuerda que el resultado del proceso PCA es un numpy array, por lo que, para hacer referencia a una columna, por ejemplo, la 0, puedes usar la instrucción EmpleadosAttritionPCA[:,0]).

In [188]:
imputer = SimpleImputer(strategy='mean')
X_imputed = imputer.fit_transform(EmpleadosAttrition)
pca = PCA()
# EmpleadosAttritionPCA = pca.fit_transform(EmpleadosAttritionFinal)

pca.fit(X_imputed)
EmpleadosAttritionPCA = pca.explained_variance_
# EmpleadosAttritionPCA

Agrega el mínimo número de Componentes Principales en columnas del frame EmpleadosAttritionPCA que logren explicar el 80% de la varianza, al frame EmpleadosAttritionFinal. Puedes usar la instrucción assign, columna por columna, llamando a cada una C0, C1, etc., hasta las que vayas a agregar.

In [185]:
cien = EmpleadosAttritionPCA.sum()
ochenta = cien * 0.8
# print(ochenta)

In [186]:
EmpleadosAttritionPCA.sort()
PCAord = EmpleadosAttritionPCA[::-1]
# PCAord

In [187]:
sum = 0
i = 0
while sum<ochenta:
  sum += PCAord[i]
  i += 1
print(sum)
print(i+1)
#Aunque se pasa del 80%, es la mínima cantidad de componentes que representan el 80%

262.8270826350591
5

Guarda el set de datos que has formado y que tienes en EmpleadosAttritionFinal


en un archivo CSV llamado EmpleadosAttritionFinal.csv. Las últimas columnas que colocaste quedarán después de la variable Attrition, lo cual no importa, pero si gustas lo puedes arreglar antes de escribir el archivo.

In [190]:
EmpleadosAttritionFinal.to_csv('EmpleadosAttritionFinal.csv', index=False)